.carParkBody,
.carParkBodyActive {
  margin: 150px auto;
  padding: 20px 0 40px;
  height: 590px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  background-color: var(--back-color);
  box-shadow: 3px 5px 20px 2px rgba(128, 128, 128, 0.167);
}

.carParkBody {
  transform: translateY(250px);
  opacity: 0.3;
  transition: 0.3s all ease;
}

.carParkBodyActive {
  transform: translateY(0);
  opacity: 1;
  transition: 1s all ease;
}

@media only screen and (max-width: 1200px) {
  .carParkBody,
  .carParkBodyActive {
    background-color: rgb(120, 120, 225);
    width: 90%;
    height: 620px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.578);
  }
}
